# Google AI API Key
GOOGLE_AI_API_KEY=your_google_ai_api_key_here

# Rugby Team Name
TEAM_NAME=Your Team Name
NEXT_PUBLIC_TEAM_NAME=Your Team Name

# Vercel Blob
BLOB_READ_WRITE_TOKEN=vercel_blob_rw_token

# Clerk auth keys
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# Neon Postgres
DATABASE_URL=

# Vercel Blob Read Write Token
BLOB_READ_WRITE_TOKEN=vercel_blob_rw_token
